* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;}
  
.main {
  background: #fdcc04;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-style: solid;}

.border_container{
  text-align: center;
  border: 2px solid #333;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: -1em 0 1em olive;}

.border_container p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5}

.image-container {
  margin-top: 15px;}

img {
  max-width: 100%;
  height: auto;}

nav {
  height: 80px;
  border-style: solid;
  background: #fdcc04;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem ;}

nav ul {
  list-style: none;
  padding: 0;}
  
nav ul li {
  display: inline;
  margin-right:center;}
  
nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;}
  
nav a:hover {
  color: #fff;}

footer {
  background:#fdcc04 ;
  color: #000000;
  text-align: center;
  padding: 5px;
  border-style: solid;
  position: fixed;
  bottom: 0;
  width: 100%;}

@media only screen and (max-width: 480px){
nav {
  display:flex;
  border-style: solid;
  flex-direction: column;
  height: 80px;
  border-style: solid;
  background: #fdcc04;
  justify-content: space-between;
  align-items: center;
  padding: 2rem ;}}

nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1rem;
  font-size: 1rem;}  


